<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%-render.title %></title>

    <link rel="shortcut icon" type="image/x-icon" href="/template/auth/images/1.jpg">
    <link rel="stylesheet" href="/template/auth/css/style.css">
</head>
<body>
<div style="text-align: center">
    <img style="width: 150px; height: 184px; border-radius: 500px;" src="/template/auth/images/1.jpg">
    <br>
    <br>
    <br>
    <div style="display: inline-block; width: 500px;">
        <div>
            <b>Name</b> : <span>Nguyễn Văn Nghĩa</span>
        </div>
        <hr>
        <div>
            <b>Facebook</b> : <a target="_blank" href="https://www.facebook.com/nguyenvannghia13pfiev2">link</a>
        </div>
        <hr>
        <div>
            <b>E-Mail</b> : <a target="_blank" href="mailto:nghianv.dev@gmail.com">nghianv.dev@gmail.com</a>
        </div>
    </div>
</div>
</body>
</html>