<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nhập tên</title>
</head>
<body>
<form method="post">
    <input placeholder="Nhập user name của bạn: viết liền không dấu" name="userName"
           style="    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    width: 500px;" required><br><br>
    <button type="submit" style="    font-size: 20px;
    background: blue;
    color: #fff;
    border: none;
    padding: 3px 34px;">Gửi
    </button>
</form>
</body>
</html>